@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 18px 32px 18px 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 550;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
}

.btn-container {
    text-align: center;
}

#hero {
    height: 953px;
    background-image: linear-gradient(0deg, rgb(9, 9, 9) 3.482%, rgba(16, 16, 16, 0) 101.632%),
        url(../assets/hero-bg.png);

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 835px;

}

.subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}

.title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 53px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 10px;
}

.description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 25px;
}

/* Card-box Design*/

#card-box {
    width: 1200px;
    margin: 8em auto;
}

#card-box>.subtitle {
    color: rgb(16, 16, 16);
    font-size: 22px;
    line-height: 28px;
}

#card-box>.title {
    color: rgb(16, 16, 16);
    font-size: 46px;
    line-height: 55px;
    margin: 15px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card1 {
    width: 374px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.img {
    width: 374px;
    height: 250px;
    margin-bottom: 30px;
}

.pizza {
    background-image: url(../assets/pizza.png);
    background-size: cover;
}

.biriyani {
    background-image: url(../assets/biriyani.png);
    background-size: cover;
}

.burger {
    background-image: url(../assets/burger.png);
    background-size: cover;
}

.card1 {
    align-items: center;
}

.card1>.subtitle {
    width: 160px;
    height: 36px;
    font-size: 18px;
    color: rgb(16, 16, 16);
    padding-top: 10px;
    line-height: normal;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}

.offer {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 6px;
}

.card1>.description {
    color: rgb(16, 16, 16);
}

/* Footer */

.about-us {
    width: 1965px;
    height: 500px;
    background-image: url(../assets/social-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>.title {
    color: rgb(16, 16, 16);
    font-size: 48px;
}

.container>.subtitle {
    color: rgb(16, 16, 16);
}

.container>.description {
    color: rgb(16, 16, 16);
    font-size: 20px;
    margin-top: 10px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.fa-x-twitter {
    margin-left: 10px;
    margin-right: 5px;
}

.fa-instagram {
    margin-left: 5px;
    margin-right: 10px;
}